<%- include('partials/header'); -%>

<h1>Welcome</h1>

<div class="dashboard">

<table class="table table-borderless">
<tbody>
    <tr><td>
        <div class="postscount">Blogs: <%= postscount %></div>
    </td></tr>
    <tr><td>
        <div class="postscount">Notes: 0</div>
    </td></tr>
    <tr><td>
        <div class="postscount">Tasks due: 0</div>
    </td></tr>
</tbody>
</table>

</div>

<%- include('partials/footer'); -%>
