<%- include('partials/header'); -%>

<h1>Dashboard</h1>

<div>There are total 10000000 blogs from 10000 users.</div>

<div>You have 5 notes.</div>

<div>You have 5 Tasks due this week, and 3 next week.</div>

<%- include('partials/footer'); -%>
