html {
    min-height: 100%;
    position: relative;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: large;
    letter-spacing: 5px;
}
.navbar-nav li a:hover {
    color: #1abc9c !important;
}
.footer-padding {
    padding-bottom: 100px;
}
.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #1abc9c;
}
.footer p {
    margin-top: 15px;
    font-size: 18px;
    color: #fff;
}
.composeBlog {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.composeBlog span {
    float: right;
    margin-left: 50px;
}
.dashboard {
    font-size: xx-large;
    text-align: center;
    background-color: #abc;
}
.dashboard .postscount {
    padding: 5%;
    color: red;
}
.blogHomeTitle {
    margin-bottom: 12px;
    font-size: xx-large;
}
.blogHomeTitle .starRating {
    color: orange;
    margin: 0px;
}
.blog table tr :hover {
    background: wheat;
}
.blogHomeContent {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: medium;
}
.blogTitle {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: xx-large;
}
.blogTitle .starRating {
    color: orange;
    margin: 0px;
    float: none !important;
}
div .blogHeader {
    margin-bottom: 20px;
}
.ratingAmount {
    margin-left: 10px;
}
.blogContent {
    margin-top: 20px;;
    font-size: medium;
}
.blogContentTags {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: small;
}

/* The switch - the box around the slider */
.auto-save-switch {
    margin: 25px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
}
/* Hide default HTML checkbox */
.auto-save-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 5px;
    top: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: orange;
}
input:focus + .slider {
    box-shadow: 0 0 1px orange;
}  
input:checked + .slider:before {
    -webkit-transform: translateX(95px);
    -ms-transform: translateX(95px);
    transform: translateX(95px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    width: 130px;
    text-align: center;
    padding: 6px;
    color: white;
    font-weight: lighter;
}
.slider.round:before {
    border-radius: 50%;
}
